.meDiv{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 300px;
    
}

.objective{
    font-size: 22px;
}

.career{
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: -50px;
}
.mainDiv{
    display: grid;
    grid-template-columns: 400px 10px 600px;
    margin-left: 230px;
    column-gap: 100px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}
@keyframes fadeInAnimation {
    0% {opacity: 0;}
    100% { opacity: 1;}
}


.name{
    color:black;
    font-size: 28px;
    height: 0px;
    margin-top: 10px;
}


.birthDate{
    color:black;
    font-size: 12px;
}


.informationDiv{
    margin-top: 300px;
    display: grid;
    grid-template-columns: row;
    width: 400px;
}

.informationText{
    font-size: 18px;
    margin-top: 3px;
    margin-bottom: 3px;    
}

.education{
    margin-top: 0px;
}

.line{
    border-bottom-style: solid;
    border-bottom-width: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    color:rgb(0, 0, 0);
    animation: lineAnimation 4s 1;
}

@keyframes lineAnimation {
0%{width: 0px;}
100%{width:400px;}
}


.skills{
    font-size: 22px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

.gitHubLogo{
    width: 40px;
    margin-left: 15px;
    transition: opacity 300ms;

}

.linkedInlogo{
    width: 60px;
    margin-top: -10px;
    transition: opacity 100ms;
}

.linkedInlogo:hover,.gitHubLogo:hover{
    opacity: 0.3;
}


.logosDiv{
    display: grid;
    grid-template-columns: 50px 50px;
    vertical-align: top;
    margin-left: -13px;
}

.shorterLine{
    width: 300px;
    border-bottom: 5px rgb(118, 118, 118) solid;
    animation: shorterLineAnimation 4s 1;
}

@keyframes shorterLineAnimation{
    0%{width:0px;}
    100%{width:300px;}
}

.verticalLine{
    margin-top: 120px;
    border-left: 5px solid rgb(81, 81, 81);
    animation: verticalLineAnimation 4s 1; 
    height: 600px;
}

@keyframes verticalLineAnimation {
0%{height:0px;}
100%{height:600px;}
}

.aboutMeTitle{
 margin-top: -100px;
 font-size: 50px;
 animation: aboutMeTitleAnimation ease 4s;
 animation-iteration-count: 1;
 animation-fill-mode: forwards; 
 animation-delay: 4s;
 visibility: hidden;
}

@keyframes aboutMeTitleAnimation{
0%{opacity: 0.1;visibility: visible;}
100%{opacity: 1;visibility: visible;}
}

