.meDiv{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 15vw;
    
    
}

.objective{
    font-size: 1.5vw;
}

.career{
    font-size: 3.1vw;
    margin-bottom: 0px;
    margin-top: -50px;
}   
.mainDiv{
    display: grid;
    grid-template-columns: 30vw 1vw 30vw;
    justify-content: center;
    margin-left: 3vw;
    column-gap: 100px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
    
}
@keyframes fadeInAnimation {
    0% {opacity: 0;}
    100% { opacity: 1;}
}


.name{
    color:black;
    font-size: 2vw;
    height: 0vw;
    margin-top: 1vw;
}


.birthdate{
    color:black;
    font-size: 1vw;
}


.informationDiv{
    margin-top: 20%;
    display: grid;
    grid-template-columns: row;
    width: 30vw;
}

.informationText{
    font-size: 1.2vw;
    margin-top: 3px;
    margin-bottom: 3px;    
}

.education{
    margin-top: 0px;
   
}

.line{
    border-bottom-style: solid;
    border-bottom-width: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    color:rgb(0, 0, 0);
    animation: lineAnimation 4s 1;
    width: 30vw;
}

@keyframes lineAnimation {
0%{width: 0px;}
100%{width:30vw;}
}


.skills{
    font-size: 1vw;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.gitHubLogo{
    width: 40px;
    margin-left: 1vw;
    transition: opacity 300ms;

}

.linkedInlogo{
    width: 60px;
    margin-top: -10px;
    transition: opacity 100ms;
}

.linkedInlogo:hover,.gitHubLogo:hover{
    opacity: 0.3;
}


.logosDiv{
    display: grid;
    grid-template-columns: 4vw 4vw;
    vertical-align: top;
    margin-left: -1vw;
}

.shorterLine{
    width: 18vw;
    border-bottom: 5px rgb(118, 118, 118) solid;
    animation: shorterLineAnimation 4s 1;
}

@keyframes shorterLineAnimation{
    0%{width:0px;}
    100%{width:18vw}
}

.verticalLine{
    margin-top: 120px;
    border-left: 5px solid rgb(81, 81, 81);
    animation: verticalLineAnimation 4s 1; 
    height: 30vw;
}

@keyframes verticalLineAnimation {
0%{height:0vw;}
100%{height:30vw;}
}

.aboutMeTitle{
 font-size: 4vw;
 animation: aboutMeTitleAnimation ease 2s;
 animation-iteration-count: 1;
 animation-fill-mode: forwards; 
 animation-delay: 2s;
 visibility: hidden;
 margin-bottom: 5%;
}

@keyframes aboutMeTitleAnimation{
0%{opacity: 0.1;visibility: visible;}
100%{opacity: 1;visibility: visible;}
}

.degree{
 margin-top: 0px;   
 margin-bottom: 5px;
 font-size: 2vw;
}


@media only screen and (max-width:  650px){


.mainDiv{
    display: grid;
    grid-template-columns: 400px;
    column-gap: 100px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
    margin-left: 10%;
    justify-content: center;
}



.verticalLine{
    margin-top: 30%;
    border-left: 5px solid rgb(81, 81, 81);
    animation: verticalLineAnimation 4s 1; 
    height: 500px;
    display: none;
}

.line{
    border-bottom-style: solid;
    border-bottom-width: 5px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    color:rgb(0, 0, 0);
    animation: lineAnimation 4s 1;
}


@keyframes lineAnimation {
    0%{width: 0%;}
    100%{width:100%;}
}



.informationDiv{
    display: grid;
    grid-template-columns: row;
    width: 300px;
    margin-bottom: 50px;
    margin-top: 10%;
}

.meDiv{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 60%;
    width: 300px;
    
}

.career{
    font-size: 30px;
}

.objective{
    font-size: 16px;
    width: 70%;
}

.informationText{
    font-size: 14px;
    width: 80%;
}

.aboutMeTitle,.skills,.degree{
    width: 100%;
}

.aboutMeTitle{
    margin-top: 0px;
    font-size: 10vw;
}

.shorterLine{
    width: 80%;
    border-bottom: 5px rgb(118, 118, 118) solid;
    animation: shorterLineAnimation 4s 1;
}

@keyframes shorterLineAnimation{
    0%{width:0%;}
    100%{width: 80%;}
}


.gitHubLogo{
    width: 5vw;
    margin-left: 6vw;
    transition: opacity 300ms;

}

.linkedInlogo{
    width: 9vw;
    margin-top: -8px;
    transition: opacity 100ms;
}


.skills,.degree,.name{
    font-size: 4vw;
}
.birthdate{
    font-size: 3vw;
}

}

