.mainSectionDiv{
    display: grid;
    justify-content: center;
}


.welcomeText{
    font-size: 10vw;
    margin-top: 30vw;
    width: 43vw;
    margin-bottom: 10px;
    color: rgb(104,104,104);
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;    
    transition: color 1s;
}

.welcomeText:hover{
    color: rgba(104,104,104,0.4);
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.line{
    width: 42vw;
    border:2px solid;
    animation: lineAnimation 3s 1;
}



@keyframes lineAnimation {
0%{width:0px}
100%{width: 42vw}
}


@media only screen and (max-width: 650px){


    
.line{
        width: 60vw;
        border:2px solid;
        animation: lineAnimation 3s 1;
}
    
    

        

@keyframes lineAnimation {  
    0%{width:0%}
    100%{width:60vw}
}

.mainSectionDiv{
    display: grid;
    justify-content: center;
}
.welcomeText{
    width: 60vw;
    margin-top: 80vw;
    font-size: 14vw;
    justify-self: center;
}


}
  


