.mainSectionDiv{
    margin-left: 50px;
    margin-top: 200px;

}


.projectTitle{
    margin-left: 30px;
    font-size: 40px;
    width: 100%;
    margin-top: 0px;
}

.projectDescription{
    margin-left: 30px;
}

.gitHubLinks{
    margin-left: 50px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 200px;
}

.gitHubLogoBachelor,.gitHubLogoTodo,.gitHubLogoYoutube{
    cursor: pointer;
    transition: opacity 0.5s;
    width: 25%;

}

.gitHubLogoBachelor:hover,.gitHubLogoTodo:hover,.gitHubLogoYoutube:hover{
    opacity: 0.2;
}





.bachelorsImage,.youtubeImage,.todoImage{
    width: 500px;
    margin-bottom: 20%;
    margin-left: 40%;
    
}



.projectDiv{
    display: grid;
    grid-template-columns:500px 500px;
    border-bottom: 6px solid rgb(46, 46, 46);
    width: 100%;
    animation: lineAnimation 5s;
    margin-left: -20px;
    margin-top: -40px;
    margin-bottom: 100px;
}

@keyframes lineAnimation {
    0%{width:0%};
    100%{width: 100%};
}

.horizontalLine{
 border-bottom: 20px solid black;
}

.titleLogo{
    display: grid;
    grid-template-columns: 500px 300px;
    flex-direction: row;
    width: 500px;
    align-content: center;
}

.link{
    margin-top: -3%;
}
@media only screen and (max-width: 650px){

    .projectDiv{
        display: grid;
        grid-template-columns: 600px;
        vertical-align: top;
        border-bottom: 6px solid rgb(46, 46, 46);
        width: 100%;
        animation: lineAnimation 5s;
        margin-left: -5%;
        margin-top: -10%;
        margin-bottom: 20%;
        margin-right: 0px;
    }
    



    .projectTitle{
        margin-top: 0px;
        font-size: 23px;
        width: 100%;
        margin-right: 0px;
        margin-left: 5%;
        
    }

    .projectDescription{
        width: 100%;
        margin-left: 5%;
        margin-right: 0%;
      
    }
    .bachelorsImage,.todoImage,.youtubeImage{
        width: 55%;
        margin-top: 5%;
        margin-bottom: 10%;
        margin-right: 0%;
        margin-left: 0%;
    }

    .projectTitle.titleLogo{
        width: 30%;
    }
    
    .mainSectionDiv{
        width: 85%;
        margin-right: 0px;
    }

    .infoContainer{
        width: 50%;
        margin-right: 0px;
    }
    .titleLogo{
        display: grid;
        grid-template-columns: 300px 50px;
        flex-direction: row;
        width: 350px;
    }
    
 
  
    
    .gitHubLogoBachelor,.gitHubLogoTodo,.gitHubLogoYoutube{
        cursor: pointer;
        transition: opacity 0.5s;
        width: 50px;
   }
    
   .link{
    width: 50px;
    margin-top: -20%;
    }

    
}